.ipynb_checkpoints
.DS_Store
Andrew_Ng_Course/hw_files/
*.csv
*.txt
CarlosUWCourse/FirstCourse/lessons/DATA/
CarlosUWCourse/FirstCourse/lessons/HW/
CarlosUWCourse/FirstCourse/lessons/Private/
CarlosUWCourse/RegCourse/lessons/DATA/
CarlosUWCourse/RegCourse/lessons/HW/
